<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <title>Payment</title>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css" media="only screen">
</head>

<body class="body--transactional" cz-shortcut-listen="true" style="background-color:#fafafa">
    <main class="container container--application container--application--primary">
        @RenderBody()
    </main>
</body>
</html>